@charset "utf-8";
/* CSS Document */

body{
		background: #000000;
		color:#FF0004;
		font-family: papyrus, fantasy;
		max-width: 900;
		max-height: none;
	}
	
	h1{
		text-align: center;
	}
	
	.selection3Selector{
		color:#4B3BFF;
		text-align: right;
		border: thick;
		border-color: white;
	}
	
	.fontStyle1{
		font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	}
	
	.fontStyle2{
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	}
	
	.fontStyle3{
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
	}
	
	#menu{
		background-color: #dddddd;
		width: 120px;
		display: block;
		text-decoration:overline;
	}
	
.bonusMeme{
	background-color: white;
	color:black;
}

.bonusMeme2{
	background-color: red;
	color: black;
}

.bonusMeme3{
	background-color: silver;
	color:gold;
}